[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
# change the following line
ExecStart=/path/to/your/uwsgi/binary --ini /path/to/your/emperor/configfile.ini
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
